/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  End Reset   */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: #ffffff;
    color: #333333;
}

h1, h2 {
    font-family: 'Kadwa', serif;
}

h1 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
    color: #333333;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #333333;
}

input {
    margin-bottom: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 16rem;
    margin-bottom: 2rem;
    padding: 2rem 1rem 1rem 2rem;
    background: url("../images/nathan-fertig-372737-unsplash.jpg") center no-repeat #ffffff;
    background-size: cover;
    text-shadow: 0px 0px 10px #333333;
}

.header h1 {
    font-family: 'Gravitas One', cursive;
    font-size: 2.5rem;
}

.header p {
    padding: 1rem;
    font-size: 1.0rem;
    line-height: 1.5rem;
    max-width: 18rem;
    text-align: left;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.25);
}
}

.wrapper {
    width: 90%;
    margin: 0px auto 0px auto;
    padding-bottom: 3rem;
}

.one, .two {
    --button-width: 8rem;
    --button-padding: 0.5rem;
    --button-repeat: 2;
    width: calc((var(--button-width) + var(--button-padding) * 2) * var(--button-repeat));
    margin: 0px auto 0px auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(var(--button-repeat), minmax(var(--button-width), 1fr));
    grid-gap: 0.25rem;
}

.checkbox-container {
    padding-top: 1rem;
    text-align: left;
}

@media only screen and (min-width: 768px) {
    .header p {
        max-width: 32rem;
    }
    .one, .two {
        --button-repeat: 3;
        width: calc((var(--button-width) + var(--button-padding) * 2) * var(--button-repeat));
    }

    .buttons {
        grid-template-columns: repeat(var(--button-repeat), minmax(var(--button-width), 1fr));
    }
}

@media only screen and (min-width: 992px) {
    form, input {
        display: inline;
    }

    .one, .two {
        --button-repeat: 5;
        width: calc((var(--button-width) + var(--button-padding) * 2) * var(--button-repeat));
    }

    .buttons {
        grid-template-columns: repeat(var(--button-repeat), minmax(var(--button-width), 1fr));
        padding-bottom: 1rem;
    }

    .two h2 {
        display: inline-block;
    }
}

@media only screen and (min-width: 1200px) {
    .one, .two {
        --button-repeat: 7;
        width: calc((var(--button-width) + var(--button-padding) * 2) * var(--button-repeat));
    }

    .buttons {
        grid-template-columns: repeat(var(--button-repeat), minmax(var(--button-width), 1fr));
    }
}

.button {
    font-family: 'Oswald', sans-serif;
    padding: var(--button-padding);
    width: var(--button-width);
    background-color: #ffe100;
    border: solid 1px #dac000;
    color: #000000;
    border-radius: 15px;
    outline: none;
}

.button:hover {
    background-color: #ffff00;
}

.two {
    padding-top: 1rem;
    text-align: left;
}

input {
    padding: 0.5rem;
    border: solid 1px #dac000;
    border-radius: 15px;
    text-align: center;
}

input:focus {
    outline: none;
    filter: drop-shadow(0px 0px 4px #ffff00);
}

.three {
    padding-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-gap: 2em;
    align-items: center;
}

.rating, .title {
    margin-top: 1rem;
}

.rating {
    text-transform: uppercase;
    color: #888888;
}
.gif {
    border-radius: 20px;
    filter: drop-shadow(2px 2px 6px #999999);
}

#topic-dialog p {
    margin-bottom: 1rem;
}

.dialog-button {
    width: 8rem;
    padding: 0.5rem;
}